.titulo-cart{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#Checkout{
    margin-top: 20px;
    width: 600px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-checkout{
    text-align: center;
}